

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1> Sign up form</h1>
			<form action='register' method='post'>
				{% csrf_token %}
				<p> User Name:</p>
				<input name='user_name'>
				<p>First Name:</p>
				<input name='first_name'>
				<p>Last Name:</p>
				<input name='last_name'>
				<p>E-mail:</p>
				<input name='email'>
				<p>Password: </p>
				<input name='password'>
				<br/><br/>
				<input type="submit" value="Sign up">
			</form>
		</div>
	</div>
</div>
