html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
h1 {
    font-family: 'Josefin Slab', serif;

}

body {
    line-height: 1.75;
    color: #EC1A5B;
    font-family: 'Josefin Sans', sans-serif;}
ol, ul {
    list-style: none;
    overflow: auto;
}

a {
    text-decoration: none;
    color: #EE4723;
    font-family: 'Josefin Slab';
    font-size: 20px;
   
}
a:hover {
    color:#f0f0f0;
}
a: visited {
  color:#EC1A5B;
}

/**************************
* LOGO
***************************/

.logo {
  margin: 1rem 0px;

}

/**************************
* NAV
***************************/
.navbar-brand{
  font-family: 'Josefin Slab', serif;
  font-size: 25px;
}

.nav navbar-nav navbar-right {
  font-family: 'Josefin Slab', serif;
}


.navbar-default {
  border-color: #EE4723;
}

.navbar-default .navbar-nav>li>a:hover {
  color:#F26925;